<template name="signup">
    <h1>Signup</h1>
    <form id="signup-form" action="action">
        <div>
            Email:              <input name='email' type="email" id="login-email" required="true"/><br>
            Password:           <input type="password" id="login-password" required="true"/><br>
            Website:            <input type="url" id="website"/><br>
            Description:        <input type="text" id="description"/><br>
            Withdrawal Address: <input type="text" id="withdrawal_address"/><br>
            Twitter:            <input type="text" id="twitter"/><br>
            <input type="submit" id="login-button" value="Sign up"/><br>
        </div>
    </form>
</template>